<div>
  <div class="left-page">
    <form [formGroup]="fpbForm">
    <div class="row"><label class="label">Filters</label>
      <button class="primary" (click)="applyFilter($event)">Apply Filter</button>
    </div>
    <div class="unit">
      <h5>Units</h5>
      <div class="unit-label"><input formControlName="unit" type="radio" id="1" name="unit" value="hello1"/><label
        class="unit-label">Unit1</label></div>
      <div class="unit-label"><input formControlName="unit" type="radio" id="2" name="unit" value="hello2"/><label
        class="unit-label">Unit2</label></div>
      <div class="unit-label"><input formControlName="unit" type="radio" id="3" name="unit" value="hello3"/><label
        class="unit-label">Unit3</label></div>
    </div>
    <div class="unit">
      <h5>Rollup</h5>
      <div class="unit-label">
        <div><input type="checkbox" id="21" name="hello2" value="hello2"/><label class="unit-label">Worldwide</label></div>
        <div class="unit-label">
          <div class="unit-label"><input formControlName="rpUnit" type="checkbox" id="22" name="hello" value="hello"/><label
            class="unit-label">India</label></div>
          <div class="unit-label"><input type="checkbox" id="23" name="hello2" value="hello2"/><label
            class="unit-label">USA</label></div>
          <div class="unit-label"><input type="checkbox" id="24" name="hello3" value="hello3"/><label
            class="unit-label">Australia</label></div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="grid">
    <app-ag-grid [rowData]="gridData"></app-ag-grid>
  </div>
</div>
